<IfModule mod_rewrite.c>
    RewriteEngine On

    # 如果请求的文件或目录不存在，将请求传递给 index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>
